* {
  margin: 0;
  padding: 0;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  font: normal 400 6.75vh/110% 'Passion One', cursive;
  background: #FFB5A7;
  background:
    radial-gradient(at center, #FFB5A7, #FCD5CE, #F8EDEB, #F9DCC4, #FEC89A);

  @media (max-width: 1024px) {
    font-size: 5.75vh;
  }

  @media (max-width: 768px) {
    font-size: 4.75vh;
  }

  @media (max-width: 480px) {
    font-size: 4.5vh;
  }

  main {
    section {
      position: absolute;
      top: 0;
      left: 0;
      padding: calc(6vw + 3rem) 3vw 3vw;

      .link {
        position: fixed;
        top: 3vw;
        z-index: 1000;

        &#email {
          left: 3vw;
        }

        &#git {
          left: calc(6vw + 3rem);
        }

        &#linkedin {
          left: calc(9vw + 6rem);
        }

        img {
          height: 3rem;
        }
      }
    }
  }
}